.section__about {
    margin-top: 5px;
    padding: 0 10px;
}

.about__header{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.about__title {
    font-size: 17px;
}

.about__text {
    font-size: 12px;
}

.about__img {
    width: 100%;
    margin-top: 3px;
}

@media (min-width: 481px) {
    .about__title {
        font-size: 20px;
    }

    .about__text {
        font-size: 15px;
    }
}