@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    --text-color: #614e44;
    --h1-color: #FFFFFF;
    --h2-color: #261d17;
    --h3-color: #37291f;
    --contacts-form-background: rgb(34,193,195);
    --contacts-form-linear-background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(88,253,45,1) 100%);
    --button-form-color: rgb(71, 231, 62);
    --button-form-hover: rgba(21, 194, 185, 0.81);
}

.container {
    max-width: 1200px;
    margin: auto;
  }

body {
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34, 192, 195, 0.63) 0%, rgba(99, 239, 80, 0.63) 100%);
}

h1 {
    color: var(--h1-color);
    font-family: 'Itim', cursive;
}

h2 {
    color: var(--h2-color);
    font-family: 'Itim', cursive;
}

h3 {
    color: var(--h3-color);
    font-family: 'Itim', cursive;
}

p {
    color: var(--text-color);
    font-family: 'Itim', cursive;
}

.contacts__form, .textarea__message, .button__form {
    font-family: 'Itim', cursive;
}