.logo {
    width: 15px;
    height: 15px;
}

header {
    background-image:  linear-gradient(rgba(89, 0, 255, 0.504), rgba(57, 188, 40, 0.778)), 
    url("../../img/windmill.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.nav {
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 7px 7px 0 7px;
}

.logo__text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title {
    color: var(--h1-color);
    font-family: 'Itim', cursive;
    font-size: 7px;
}

.topnav {
    display: inline-flex;
    font-size: 6px;
    margin-top: 15px;
    font-family: 'Itim', cursive;
    align-items: baseline;
}

.topnav__link {
    padding: 0 3px 0 3px;
    color: var(--h1-color);
    text-decoration: none;
}

.topnav__link:hover {
    color: rgb(38, 240, 11);
    font-size: 10px;
}

.tour__guide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 75px;
}

.tour__guide_title {
    font-size: 20px;
}

.tour__guide_text {
    color: var(--h1-color);
    font-size: 15px;
}

